Repository fpgmaas/deptry: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cargo-check-lock, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.4"
    hooks:
      - id: ruff
        args: [--exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        exclude: ^tests/fixtures
        entry: uv run mypy
        language: system
        types: [python]
        require_serial: true

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: "0.9.8"
    hooks:
      - id: uv-lock
        name: check uv lock file consistency
        args: ["--locked"]

  - repo: local
    hooks:
      - id: cargo-check-lock
        name: check cargo lock file consistency
        entry: cargo check
        args: ["--locked", "--all-targets", "--all-features"]
        language: system
        pass_filenames: false
        files: ^Cargo\.toml$

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false

  - repo: local
    hooks:
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]
        language: system
        types: [rust]
        pass_filenames: false

  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: "v1.16.3"
    hooks:
      - id: zizmor

docs: add usage and info for inline ignore comments
  docs/rules-violations.md
  docs/usage.md
Due: none

feat: support inline `# deptry: ignore` comments to suppress violations
  python/deptry/imports/location.py
  python/deptry/rust.pyi
  python/deptry/violations/finder.py
  src/imports/shared.rs
  src/location.rs
  tests/fixtures/some_imports_with_inline_ignores.py
  tests/unit/imports/test_extract.py
  tests/unit/violations/test_finder.py
Due: mypy, cargo-fmt, cargo-clippy

Implement review findings: functional test and improve unit test
  tests/fixtures/inline_ignores/pyproject.toml
  tests/fixtures/inline_ignores/src/main.py
  tests/functional/cli/test_cli_inline_ignores.py
  tests/functional/utils.py
  tests/unit/imports/test_extract.py
  tests/utils.py
Due: mypy

chore: bump rust to 1.94
  Cargo.toml
  rust-toolchain.toml
Due: cargo-check-lock

chore: bump rust to 1.94 (#1485)
  Cargo.toml
  rust-toolchain.toml
Due: cargo-check-lock

test: update test deps
  tests/fixtures/example/poetry.lock
  tests/fixtures/example/pyproject.toml
  tests/fixtures/poetry_pep_621/poetry.lock
  tests/fixtures/requirements_in/requirements.in
  tests/fixtures/requirements_in/requirements.txt
  tests/functional/cli/test_cli_requirements_in.py
Due: mypy

test(core): add `non_dev_dependency_groups` to more tests
  tests/unit/test_core.py
Due: mypy

fix(dependency_getter): pass `non_dev_dependency_groups` to all PEP 621 getters
  python/deptry/dependency_getter/builder.py
Due: mypy

test: add functional tests for `non_dev_dependency_groups`
  tests/fixtures/pdm/pdm.lock
  tests/fixtures/pdm/pyproject.toml
  tests/fixtures/pep_621/pyproject.toml
  tests/fixtures/pep_621/uv.lock
  tests/fixtures/uv/pyproject.toml
  tests/fixtures/uv/uv.lock
  tests/functional/cli/test_cli_pdm.py
  tests/functional/cli/test_cli_pep_621.py
  tests/functional/cli/test_cli_uv.py
Due: mypy

ci: remove unneeded references
  .github/workflows/main.yml
  .github/workflows/release.yml
  .github/workflows/validate-renovate-config.yml
  .github/zizmor.yml
Due: none

ci: remove unneeded references (#1486)
  .github/workflows/main.yml
  .github/workflows/release.yml
  .github/workflows/validate-renovate-config.yml
  .github/zizmor.yml
Due: none

chore(renovate): fix uv grouping
  .github/renovate.json5
Due: none

chore(renovate): fix uv grouping (#1497)
  .github/renovate.json5
Due: none

feat: support non-dev dependency groups (#1440)
  docs/usage.md
  python/deptry/cli.py
  python/deptry/core.py
  python/deptry/dependency_getter/builder.py
  python/deptry/dependency_getter/pep621/base.py
  python/deptry/dependency_getter/pep621/pdm.py
  python/deptry/dependency_getter/pep621/poetry.py
  python/deptry/dependency_getter/pep621/uv.py
  tests/fixtures/pdm/pdm.lock
  tests/fixtures/pdm/pyproject.toml
  tests/fixtures/pep_621/pyproject.toml
  tests/fixtures/pep_621/uv.lock
  tests/fixtures/uv/pyproject.toml
  tests/fixtures/uv/uv.lock
  tests/functional/cli/test_cli_pdm.py
  tests/functional/cli/test_cli_pep_621.py
  tests/functional/cli/test_cli_uv.py
  tests/unit/dependency_getter/test_pep_621.py
  tests/unit/test_core.py
Due: mypy

chore(deps): downgrade `virtualenv` transitive dependency
  pyproject.toml
  uv.lock
Due: none

chore(deps): downgrade `virtualenv` transitive dependency (#1498)
  pyproject.toml
  uv.lock
Due: none

feat: support inline `# deptry: ignore` comments to suppress violations (#1473)
  docs/rules-violations.md
  docs/usage.md
  python/deptry/imports/location.py
  python/deptry/rust.pyi
  python/deptry/violations/finder.py
  src/imports/shared.rs
  src/location.rs
  tests/fixtures/inline_ignores/pyproject.toml
  tests/fixtures/inline_ignores/src/main.py
  tests/fixtures/some_imports_with_inline_ignores.py
  tests/functional/cli/test_cli_inline_ignores.py
  tests/functional/utils.py
  tests/unit/imports/test_extract.py
  tests/unit/violations/test_finder.py
  tests/utils.py
Due: mypy, cargo-fmt, cargo-clippy

Use justfile
  Makefile
  docs/contributing.md
  justfile
Due: none

Releasenotes for release 0.25.0
  CHANGELOG.md
Due: none

renovate config
  .github/renovate.json5
Due: none
