Repository fpgmaas/deptry: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-check-lock, cargo-fmt, cargo-clippy

cargo-check-lock:
  name: check cargo lock file consistency
  entry: cargo check
  args:
  - --locked
  - --all-targets
  - --all-features
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

test(functional): enforce utf-8 encoding when building wheel
  .github/workflows/main.yml
  tests/functional/conftest.py
Due: none

test(functional): enforce utf-8 encoding when building wheel (#1182)
  .github/workflows/main.yml
  tests/functional/conftest.py
Due: none

Implement typing_alias param
  python/deptry/cli.py
  python/deptry/core.py
  python/deptry/imports/extract.py
  python/deptry/rust.pyi
  src/imports/ipynb.rs
  src/imports/py.rs
  src/imports/shared.rs
  src/visitor.rs
  tests/fixtures/some_imports.py
  tests/unit/imports/test_extract.py
  tests/unit/test_core.py
Due: cargo-fmt, cargo-clippy

Upd docs
  docs/usage.md
Due: none

Improve cli parse by comma sep type
  python/deptry/cli.py
Due: none

fix EOF
  docs/usage.md
Due: none

chore: bump rust to 1.88
  Cargo.toml
  rust-toolchain.toml
Due: cargo-check-lock

chore(clippy): inline format args
  src/imports/shared.rs
Due: cargo-fmt, cargo-clippy

chore: bump rust to 1.88 (#1194)
  Cargo.toml
  rust-toolchain.toml
  src/imports/shared.rs
Due: cargo-check-lock, cargo-fmt, cargo-clippy

Create action.yml
  action.yml
Due: none

Update action.yml
  action.yml
Due: none

chore(mypy): enable `exhaustive-match` error code
  pyproject.toml
Due: none

chore: bump Ruff parser to 0.12.4
  Cargo.lock
  Cargo.toml
Due: cargo-check-lock

chore: adapt to Ruff 0.11.8
  src/imports/shared.rs
Due: cargo-fmt, cargo-clippy

refactor(imports): get line from `LineColumn`
  src/imports/shared.rs
Due: cargo-fmt, cargo-clippy

chore: bump Ruff parser to 0.9.7
  Cargo.lock
  Cargo.toml
Due: cargo-check-lock

chore: bump Ruff parser to 0.11.8
  Cargo.lock
  Cargo.toml
Due: cargo-check-lock

chore: adapt to Ruff 0.9.7
  src/imports/shared.rs
Due: cargo-fmt, cargo-clippy

chore: bump Ruff parser to 0.12.4 (#1217)
  Cargo.lock
  Cargo.toml
  src/imports/shared.rs
Due: cargo-check-lock, cargo-fmt, cargo-clippy

allow typing alias
  src/visitor.rs
  tests/fixtures/some_imports.py
  tests/unit/imports/test_extract.py
Due: cargo-fmt, cargo-clippy

feat: add support for Python 3.14
  .github/workflows/main.yml
  pyproject.toml
  tox.ini
Due: none

feat: build wheels for PyPy 3.11 and drop 3.10
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

chore: do not errour out on a Windows PyPy 3.11 warning
  pyproject.toml
Due: none

allow typing alias for TYPE_CHECKING (#1218)
  src/visitor.rs
  tests/fixtures/some_imports.py
  tests/unit/imports/test_extract.py
Due: cargo-fmt, cargo-clippy

update changelog
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Changelog for 0.23.1 (#1226)
  CHANGELOG.md
Due: none

feat: add support for Python 3.14 (#1224)
  .github/workflows/main.yml
  pyproject.toml
  tox.ini
Due: none

chore: bump rust to 1.89
  Cargo.toml
  rust-toolchain.toml
Due: cargo-check-lock

chore: fix clippy reports
  src/file_utils.rs
  src/imports/ipynb.rs
  src/imports/py.rs
  src/python_file_finder.rs
  src/visitor.rs
Due: cargo-fmt, cargo-clippy

chore: bump rust to 1.89 (#1244)
  Cargo.toml
  rust-toolchain.toml
  src/file_utils.rs
  src/imports/ipynb.rs
  src/imports/py.rs
  src/python_file_finder.rs
  src/visitor.rs
Due: cargo-check-lock, cargo-fmt, cargo-clippy

chore(deps): enforce `findpython==0.7.0
  pyproject.toml
  uv.lock
Due: none

chore(renovate): limit `asyncio` version in tests
  .github/renovate.json5
Due: none

chore(renovate): limit `asyncio` version in tests (#1245)
  .github/renovate.json5
Due: none

add readme to pyproject.toml
  pyproject.toml
Due: none

Path conditions:
  cargo-check-lock: any of: ^Cargo\.toml$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
