Repository fpgmaas/deptry: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cargo-check-lock, cargo-fmt, cargo-clippy

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  require_serial: true

cargo-check-lock:
  name: check cargo lock file consistency
  entry: cargo check
  args:
  - --locked
  - --all-targets
  - --all-features
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy
  args:
  - --all-targets
  - --all-features
  - --
  - -D
  - warnings
  language: system
  pass_filenames: false

chore(pytest): use new configuration format
  pyproject.toml
Due: none

chore(pytest): use strict mode
  pyproject.toml
Due: none

chore(mypy): use fixed cache and skip on `pypy`
  .github/workflows/main.yml
  pyproject.toml
  uv.lock
Due: none

chore(pre-commit): use non-deprecated `ruff-check` alias
  .pre-commit-config.yaml
Due: none

ci: use `prek` instead of `pre-commit`
  .github/workflows/main.yml
Due: none

chore: bump rust to 1.92
  Cargo.toml
  rust-toolchain.toml
Due: cargo-check-lock

chore: bump rust to 1.92 (#1388)
  Cargo.toml
  rust-toolchain.toml
Due: cargo-check-lock

Move Mathieu to authors
  pyproject.toml
Due: none

Move Mathieu to authors (#1389)
  pyproject.toml
Due: none

chore(renovate): remove obsolete rules
  .github/renovate.json5
Due: none

ci: use pnpm to run renovate
  .github/workflows/validate-renovate-config.yml
Due: none

ci: use specific patch for codecov
  .github/workflows/main.yml
Due: none

fix: ensure that `--config` does not suppress output
  python/deptry/cli.py
Due: mypy

refactor(cli): rename `configure_logger` to `set_debug_level`
  python/deptry/cli.py
Due: mypy

ci: use `prek` instead of `pre-commit` (#1387)
  .github/workflows/main.yml
  .pre-commit-config.yaml
Due: none

Update .pre-commit-hooks.yaml
  .pre-commit-hooks.yaml
Due: none

update docs
  docs/usage.md
Due: none

fix(pre-commit): update deptry hook to use Python language and remove unnecessary arguments
  .pre-commit-hooks.yaml
Due: none

fix(pre-commit docs): update deptry hook arguments to include current directory
  docs/usage.md
Due: none

test: add test for `set_debug_level`
  tests/unit/test_cli.py
Due: mypy

test(functional): add regression test for `--config` suppressing output
  tests/fixtures/without_deptry_option/pyproject.toml
  tests/functional/cli/test_cli.py
  tests/functional/utils.py
Due: mypy

fix: ensure that `--config` does not suppress output (#1390)
  python/deptry/cli.py
  tests/fixtures/without_deptry_option/pyproject.toml
  tests/functional/cli/test_cli.py
  tests/functional/utils.py
  tests/unit/test_cli.py
Due: mypy

feat(cli): add `--optional-dependencies-dev-groups` and deprecate `--pep621-dev-dependency-groups`
  docs/rules-violations.md
  docs/supported-dependency-managers.md
  docs/usage.md
  python/deptry/cli.py
  python/deptry/core.py
  python/deptry/dependency_getter/builder.py
  python/deptry/dependency_getter/pep621/base.py
  python/deptry/deprecations.py
  tests/fixtures/namespace/pyproject.toml
  tests/fixtures/pdm/pyproject.toml
  tests/fixtures/pep_621/pyproject.toml
  tests/fixtures/setuptools_dynamic_dependencies/pyproject.toml
  tests/fixtures/uv/pyproject.toml
  tests/unit/dependency_getter/test_pep_621.py
  tests/unit/test_core.py
Due: mypy

test: add functional tests for deprecations
  tests/fixtures/deprecated_arguments/.ignore
  tests/fixtures/deprecated_arguments/pyproject.toml
  tests/fixtures/deprecated_arguments/src/main.py
  tests/fixtures/deprecated_arguments/uv.lock
  tests/fixtures/deprecated_options/.ignore
  tests/fixtures/deprecated_options/pyproject.toml
  tests/fixtures/deprecated_options/src/main.py
  tests/fixtures/deprecated_options/uv.lock
  tests/functional/cli/test_cli_deprecations.py
  tests/functional/utils.py
Due: mypy

feat(cli): add `--optional-dependencies-dev-groups` and deprecate `--pep621-dev-dependency-groups`
  docs/rules-violations.md
  docs/supported-dependency-managers.md
  docs/usage.md
  python/deptry/cli.py
  python/deptry/core.py
  python/deptry/dependency_getter/builder.py
  python/deptry/dependency_getter/pep621/base.py
  python/deptry/deprecations.py
  tests/fixtures/deprecated_options/.ignore
  tests/fixtures/deprecated_options/pyproject.toml
  tests/fixtures/deprecated_options/src/main.py
  tests/fixtures/deprecated_options/uv.lock
  tests/fixtures/pdm/pyproject.toml
  tests/fixtures/pep_621/pyproject.toml
  tests/fixtures/setuptools_dynamic_dependencies/pyproject.toml
  tests/fixtures/uv/pyproject.toml
  tests/functional/utils.py
  tests/unit/dependency_getter/test_pep_621.py
  tests/unit/test_cli.py
  tests/unit/test_core.py
Due: mypy

feat: support non-dev dependency groups
  python/deptry/cli.py
  python/deptry/core.py
  python/deptry/dependency_getter/builder.py
  python/deptry/dependency_getter/pep621/base.py
  python/deptry/dependency_getter/pep621/pdm.py
  python/deptry/dependency_getter/pep621/poetry.py
  python/deptry/dependency_getter/pep621/uv.py
Due: mypy

feat(cli): add `--optional-dependencies-dev-groups` and deprecate `--pep621-dev-dependency-groups` (#1391)
  docs/rules-violations.md
  docs/supported-dependency-managers.md
  docs/usage.md
  python/deptry/cli.py
  python/deptry/core.py
  python/deptry/dependency_getter/builder.py
  python/deptry/dependency_getter/pep621/base.py
  python/deptry/deprecations.py
  tests/fixtures/deprecated_options/.ignore
  tests/fixtures/deprecated_options/pyproject.toml
  tests/fixtures/deprecated_options/src/main.py
  tests/fixtures/deprecated_options/uv.lock
  tests/fixtures/pdm/pyproject.toml
  tests/fixtures/pep_621/pyproject.toml
  tests/fixtures/setuptools_dynamic_dependencies/pyproject.toml
  tests/fixtures/uv/pyproject.toml
  tests/functional/utils.py
  tests/unit/dependency_getter/test_pep_621.py
  tests/unit/test_cli.py
  tests/unit/test_core.py
Due: mypy

update cli help doc
  python/deptry/cli.py
Due: mypy

let local modules find files
  python/deptry/core.py
Due: mypy

update python api
  python/deptry/python_file_finder.py
  python/deptry/rust.pyi
Due: mypy

implement rust logic
  src/python_file_finder.rs
Due: cargo-fmt, cargo-clippy

add tests
  tests/unit/test_core.py
  tests/unit/test_python_file_finder.py
Due: mypy

Path conditions:
  mypy: any of: \.py$, but not: ^tests/fixtures
  cargo-check-lock: any of: ^Cargo\.toml$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
