Repository fpgmaas/deptry: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, cargo-check-lock, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.4"
    hooks:
      - id: ruff
        args: [--exit-non-zero-on-fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        exclude: ^tests/fixtures
        entry: uv run mypy
        language: system
        types: [python]
        require_serial: true

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: "0.9.8"
    hooks:
      - id: uv-lock
        name: check uv lock file consistency
        args: ["--locked"]

  - repo: local
    hooks:
      - id: cargo-check-lock
        name: check cargo lock file consistency
        entry: cargo check
        args: ["--locked", "--all-targets", "--all-features"]
        language: system
        pass_filenames: false
        files: ^Cargo\.toml$

  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false

  - repo: local
    hooks:
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy
        args: ["--all-targets", "--all-features", "--", "-D", "warnings"]
        language: system
        types: [rust]
        pass_filenames: false

  - repo: https://github.com/woodruffw/zizmor-pre-commit
    rev: "v1.16.3"
    hooks:
      - id: zizmor

extract file result building rs method
  src/python_file_finder.rs
Due: cargo-fmt, cargo-clippy

add doc entry for single file use
  docs/usage.md
  foo.py
Due: mypy

chore: bump rust to 1.93
  Cargo.toml
  rust-toolchain.toml
Due: cargo-check-lock

chore: bump rust to 1.93 (#1429)
  Cargo.toml
  rust-toolchain.toml
Due: cargo-check-lock

docs: update description to match `pyproject.toml`
  mkdocs.yml
Due: none

docs: update description to match `pyproject.toml` (#1439)
  mkdocs.yml
Due: none

test: lock deps
  tests/fixtures/poetry_pep_621/poetry.lock
Due: none

test(fixtures): get `requests` from PyPI
  tests/fixtures/poetry_pep_621/poetry.lock
  tests/fixtures/poetry_pep_621/pyproject.toml
Due: none

test(fixtures): regenerate Poetry lock files
  tests/fixtures/example/poetry.lock
  tests/fixtures/poetry/poetry.lock
  tests/fixtures/without_deptry_option/poetry.lock
Due: none

feat: support non-dev dependency groups
  python/deptry/cli.py
  python/deptry/core.py
  python/deptry/dependency_getter/builder.py
  python/deptry/dependency_getter/pep621/base.py
  python/deptry/dependency_getter/pep621/pdm.py
  python/deptry/dependency_getter/pep621/poetry.py
  python/deptry/dependency_getter/pep621/uv.py
  tests/unit/dependency_getter/test_pep_621.py
  tests/unit/test_core.py
Due: mypy

feat: use `tomli` on Python < 3.15 for TOML 1.1 support
  pyproject.toml
  python/deptry/utils.py
  uv.lock
Due: mypy

docs: document `--non-dev-dependency-groups`
  docs/usage.md
  tests/unit/dependency_getter/test_pep_621.py
Due: mypy

feat: use `tomli` on Python < 3.15 for TOML 1.1 support (#1446)
  pyproject.toml
  python/deptry/utils.py
  uv.lock
Due: mypy

test(functional): use `inline-snapshot`
  pyproject.toml
  tests/functional/cli/test_cli.py
  tests/functional/cli/test_cli_gitignore.py
  tests/functional/cli/test_cli_multiple_source_directories.py
  tests/functional/cli/test_cli_namespace.py
  tests/functional/cli/test_cli_pdm.py
  tests/functional/cli/test_cli_pep_621.py
  tests/functional/cli/test_cli_poetry.py
  tests/functional/cli/test_cli_poetry_pep_621.py
  tests/functional/cli/test_cli_pyproject_different_directory.py
  tests/functional/cli/test_cli_requirements_in.py
  tests/functional/cli/test_cli_requirements_txt.py
  tests/functional/cli/test_cli_setuptools_dynamic_dependencies.py
  tests/functional/cli/test_cli_src_directory.py
  tests/functional/cli/test_cli_uv.py
  uv.lock
Due: mypy

fix(location): set `skip_from_py_object`
  src/location.rs
Due: cargo-fmt, cargo-clippy

feat(cli): add hidden option to force posix paths
  python/deptry/cli.py
  python/deptry/core.py
  python/deptry/reporters/base.py
  python/deptry/reporters/github.py
  python/deptry/reporters/json.py
  python/deptry/reporters/text.py
  tests/unit/reporters/test_github.py
  tests/unit/reporters/test_json.py
  tests/unit/reporters/test_text.py
  tests/unit/test_core.py
Due: mypy

test(functional): enforce posix paths
  tests/functional/cli/test_cli.py
  tests/functional/cli/test_cli_gitignore.py
  tests/functional/cli/test_cli_multiple_source_directories.py
  tests/functional/cli/test_cli_namespace.py
  tests/functional/cli/test_cli_pdm.py
  tests/functional/cli/test_cli_pep_621.py
  tests/functional/cli/test_cli_poetry.py
  tests/functional/cli/test_cli_poetry_pep_621.py
  tests/functional/cli/test_cli_pyproject_different_directory.py
  tests/functional/cli/test_cli_requirements_in.py
  tests/functional/cli/test_cli_requirements_txt.py
  tests/functional/cli/test_cli_setuptools_dynamic_dependencies.py
  tests/functional/cli/test_cli_src_directory.py
  tests/functional/cli/test_cli_uv.py
Due: mypy

test: use helper to run deptry
  tests/functional/cli/test_cli.py
  tests/functional/cli/test_cli_gitignore.py
  tests/functional/cli/test_cli_multiple_source_directories.py
  tests/functional/cli/test_cli_namespace.py
  tests/functional/cli/test_cli_pdm.py
  tests/functional/cli/test_cli_pep_621.py
  tests/functional/cli/test_cli_poetry.py
  tests/functional/cli/test_cli_poetry_pep_621.py
  tests/functional/cli/test_cli_pyproject_different_directory.py
  tests/functional/cli/test_cli_requirements_in.py
  tests/functional/cli/test_cli_requirements_txt.py
  tests/functional/cli/test_cli_setuptools_dynamic_dependencies.py
  tests/functional/cli/test_cli_src_directory.py
  tests/functional/cli/test_cli_uv.py
  tests/functional/utils.py
  tests/utils.py
Due: mypy

test: test paths output
  tests/functional/cli/test_cli.py
  tests/unit/reporters/test_base.py
Due: mypy

fix: rename arg to `--enforce-posix-paths`
  python/deptry/cli.py
  python/deptry/core.py
  python/deptry/reporters/base.py
  tests/functional/cli/test_cli.py
  tests/functional/utils.py
  tests/unit/reporters/test_github.py
  tests/unit/reporters/test_json.py
  tests/unit/reporters/test_text.py
  tests/unit/test_core.py
  tests/utils.py
Due: mypy

test(unit): add reporters tests
  tests/unit/test_core.py
Due: mypy

test(functional): use text reporter by default
  tests/functional/cli/test_cli.py
  tests/functional/cli/test_cli_gitignore.py
  tests/functional/cli/test_cli_multiple_source_directories.py
  tests/functional/cli/test_cli_namespace.py
  tests/functional/cli/test_cli_pdm.py
  tests/functional/cli/test_cli_pep_621.py
  tests/functional/cli/test_cli_poetry.py
  tests/functional/cli/test_cli_poetry_pep_621.py
  tests/functional/cli/test_cli_pyproject_different_directory.py
  tests/functional/cli/test_cli_requirements_in.py
  tests/functional/cli/test_cli_requirements_txt.py
  tests/functional/cli/test_cli_setuptools_dynamic_dependencies.py
  tests/functional/cli/test_cli_src_directory.py
  tests/functional/cli/test_cli_uv.py
  tests/utils.py
Due: mypy

test(functional): properly define excludes
  tests/functional/cli/test_cli.py
  tests/functional/cli/test_cli_gitignore.py
Due: mypy

test(functional): add dedicated test for ansi
  tests/functional/cli/test_cli.py
Due: mypy

feat(cli): add hidden option to enforce posix paths
  python/deptry/cli.py
  python/deptry/core.py
  python/deptry/reporters/base.py
  python/deptry/reporters/github.py
  python/deptry/reporters/json.py
  python/deptry/reporters/text.py
  tests/unit/reporters/test_github.py
  tests/unit/reporters/test_json.py
  tests/unit/reporters/test_text.py
  tests/unit/test_core.py
Due: mypy

chore(Makefile): remove parallelism for functional tests locally
  Makefile
Due: none

ci: use `macos-26`
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

ci: use `macos-26` (#1474)
  .github/workflows/main.yml
  .github/workflows/release.yml
Due: none

test(functional): use `inline-snapshot` (#1464)
  Makefile
  pyproject.toml
  python/deptry/cli.py
  python/deptry/core.py
  python/deptry/reporters/base.py
  python/deptry/reporters/github.py
  python/deptry/reporters/json.py
  python/deptry/reporters/text.py
  tests/functional/cli/test_cli.py
  tests/functional/cli/test_cli_gitignore.py
  tests/functional/cli/test_cli_multiple_source_directories.py
  tests/functional/cli/test_cli_namespace.py
  tests/functional/cli/test_cli_pdm.py
  tests/functional/cli/test_cli_pep_621.py
  tests/functional/cli/test_cli_poetry.py
  tests/functional/cli/test_cli_poetry_pep_621.py
  tests/functional/cli/test_cli_pyproject_different_directory.py
  tests/functional/cli/test_cli_requirements_in.py
  tests/functional/cli/test_cli_requirements_txt.py
  tests/functional/cli/test_cli_setuptools_dynamic_dependencies.py
  tests/functional/cli/test_cli_src_directory.py
  tests/functional/cli/test_cli_uv.py
  tests/functional/utils.py
  tests/unit/reporters/test_base.py
  tests/unit/reporters/test_github.py
  tests/unit/reporters/test_json.py
  tests/unit/reporters/test_text.py
  tests/unit/test_core.py
  tests/utils.py
  uv.lock
Due: mypy

fix: handle UTF-16 and BOM encoded requirements.txt files (fixes #1393)
  python/deptry/dependency_getter/requirements_files.py
  tests/unit/dependency_getter/test_requirements_txt.py
Due: mypy
